.App{
text-align: center;
}

.results{
  display : flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.games{
  word-wrap: break-word;
}

.developers{
  word-wrap: break-word;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(38, 155, 194);
  color: aliceblue;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.logo{
  border-radius: 10px;
  max-width: 30%;
  min-width: 30%;
}

.button {
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:10px 20px;
	text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
  position: left;
}
.button:hover {
	background-color:#eb675e;
}
.button:active {
	position:relative;
	top:1px;
}
.homePage{
	padding:10px 20px;
  align-items: center;
}
.homePage_img{
  align-content: right;
  max-width: 30%;
  min-width: 30%;
}
.homePage_img2{
  justify-content: right;
  max-width: 50%;
  min-width: 50%;
}
.homePageDiv{
  align-content: center;
  text-align: center;
  padding:10px 20px;
  word-wrap: break-word;
  min-width: 20%;
  max-width: 50%;
}
.pageHeading{
  text-align: center;
  text-shadow:0px 5px 2px brown;
  font: size 50%;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pageSubHeading{
  text-align: center;
  font: size 50%;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pagePara {
  text-align: center;
  font: size 50%;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}